.page-inicio {
  padding: 32px;
  background: var(--project-color2);
  color: var(--project-color1);
  font-family: var(--project-font);
}

.page-inicio h2 {
  margin: 0;
  font-size: 28px;
  color: var(--project-color3);;
}

.page-inicio p {
  margin: 4px 0 24px;
  color: var(--project-color4);
  max-width: 640px;
}
