.login-bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--project-color1) 0%, var(--project-color2) 100%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  text-decoration: none !important;
  left: 0;
  z-index: 1;
}

.login-card {
  display: flex;
  width: 720px;
  height: 420px;
  background: var(--project-color4);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.login-img {
  flex: 1.4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  min-height: 100%;
}

.login-logo {
  background: var(--project-colorTitle);
  border-radius: 20%;
  width: 48px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  position: absolute;
  top: 32px;
  left: 32px;
}

.login-logo span {
  font-weight: bold;
  font-size: 28px;
  color: var(--project-colorTitle);
}

.login-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 40px;
  background: var(--project-color4);
}

.login-title {
  color: var(--project-colorTitle); /* Texto principal */
  font-weight: 700;
  margin-bottom: 8px;
}

.login-title span {
  color: var(--project-color2); /* Elemento destacado */
}

.login-subtitle {
  color: var(--project-color2); /* Texto secundario */
  margin-bottom: 24px;
}

.login-input {
  position: relative;
  margin-bottom: 8px;
  width: 100%;
}

.login-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: #e0e1dc;
  font-size: 20px;
}

.login-input-field {
  padding-left: 36px;
  background: #e0e1dc; /* Fondo input */
  color: #fff;      /* Texto input */
  border-radius: 8px;
  border: 1.5px solid var(--project-color3);
  width: 100%;
  min-width: 300px;
  max-width: 380px;
  font-size: 18px;
  height: 38px;
}

.login-btn {
  border-radius: 24px;
  background: var(--project-color3);
  color: var(--project-colorTitle);
  font-weight: 600;
  width: 120px;
  align-self: flex-end;
  margin-top: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  height: 38px;
  border: none;
}

.login-link{
  text-align: right;
  margin-top: 8px;
  color: var(--project-colorTitle) !important;
}

.register-link {
  text-align: right;
  margin-top: 8px;
  color: var(--project-colorTitle) !important;
  font-family: var(--font-primary);
}
