/*  Paleta de colores - Modo Claro */

:root {
  --project-color1: #1d2538; /* Texto principal */
  --project-colorTitle: #1d2538; /* Encabezados y t铆tulos */
  --project-color2: #475b74; /* Texto secundario */
  --project-color3: #a5b2c4; /* Bordes y separadores */
  --project-color4: #e0e1dc; /* Fondo principal */
  --project-color5: #f5f6f4; /* Fondo de tarjetas, formularios y navbar */

  --accent-color1: #0066cc;  /* Bot贸n primario, enlaces activos, borde expandido */
  --accent-color1-hover: #1a7be0; /* Hover de bot贸n primario */
  --accent-color2: #00b884;  /* Bot贸n secundario o acci贸n complementaria */
  --accent-color2-hover: #00d79d; /* Hover de bot贸n secundario */

  --success-color: #2ecc71;  /* xito, validaci贸n */
  --warning-color: #ffb84d;  /* Advertencia */
  --alert-color1: #ff4c4c;   /* Error o acci贸n destructiva */
  --alert-color1-hover: #ff6b6b; /* Hover de acci贸n destructiva */

  --border-color: #d0d5dd; /* Bordes personalizados */
  --shadow-color: rgba(0, 0, 0, 0.15); /* Sombra de tarjetas y botones */
}
